{% extends 'custadmin/components/base.html' %}
{% load static %}



{% block maincontainer %}
     
               <div class="container-xxl">

                    <div class="row">
                         <div class="col-xl-3 col-lg-4">
                              <div class="card">
                                   <div class="card-body">
                                        <div class="bg-light text-center rounded bg-light">
                                            {% if category.category_img %}
                                                  <img src="{{ category.category_img.url }}" alt="Category Image" class="avatar-xxl">
                                             {% else %}
                                                  <img src="{% static 'custadmin/images/products/p-6.png' %}" alt="Default Category Image" class="avatar-xxl">
                                             {% endif %}    
                                        </div>
                                        <div class="mt-3">
                                             <h4>{{ category.name }}</h4>
                                             <div class="row">
                                                  <div class="col-lg-4 col-4">
                                                       <p class="mb-1 mt-2">Created By :</p>
                                                       <h5 class="mb-0">Admin</h5>
                                                  </div>
                                                  <div class="col-lg-4 col-4">
                                                       <p class="mb-1 mt-2">Stock :</p>
                                                       <h5 class="mb-0">0{{ category.product_count }}</h5>
                                                  </div>
                                                  <div class="col-lg-4 col-4">
                                                       <p class="mb-1 mt-2">ID :</p>
                                                       <h5 class="mb-0">{{ category.shortform|upper }}-0{{ category.id }}315</h5>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="card-footer border-top">
                                        <div class="row g-2">
                                             <div class="col-lg-6">
                                                  <a href="{% url 'category-add' %}" class="btn btn-outline-secondary w-100">Create New</a>
                                             </div>
                                             <div class="col-lg-6">
                                                  <a href="{% url 'category-list' %}" class="btn btn-primary w-100">Cancel</a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="col-xl-9 col-lg-8 ">
                              <div class="card">
                                   <div class="card-header">
                                        <h4 class="card-title">Add Thumbnail Photo</h4>
                                   </div>
                                   <div class="card-body">
                                        <!-- File Upload -->
                                        <form action="{% url 'category-edit' category.id %}" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews" data-upload-preview-template="#uploadPreviewTemplate">
                                             {% csrf_token %}
                                             <div class="fallback">
                                                  <input name="category_img" type="file" multiple />
                                             </div>
                                             <div class="dz-message needsclick">
                                                  <i class="bx bx-cloud-upload fs-48 text-primary"></i>
                                                  <h3 class="mt-4">Drop your images here, or <span class="text-primary">click to browse</span></h3>
                                                  <span class="text-muted fs-13">
                                                       1600 x 1200 (4:3) recommended. PNG, JPG and GIF files are allowed
                                                  </span>
                                             </div>
                                        </form>
                                   </div>
                              </div>
                              <form method="POST" action="{% url 'category-edit' category.id %}">
                              {% csrf_token %}
                                   <div class="card">
                                        <div class="card-header">
                                             <h4 class="card-title">General Information</h4>
                                        </div>
                                        <div class="card-body">
                                        
                                             <div class="row">
                                                  <div class="col-lg-6">
                                                            <div class="mb-3">
                                                                 <label for="category-title" class="form-label">Category Title</label>
                                                                 <input type="text" id="category-title" name="name" class="form-control" placeholder="Enter Title" value="{{ category.name }}">
                                                            </div>
                                                  </div>

                                                  <div class="col-lg-6">
                                                            <label for="crater" class="form-label">Created By</label>
                                                            <select class="form-control" id="crater" data-choices data-choices-groups data-placeholder="Select Crater">
                                                                 <option value="">Select Crater</option>
                                                                 <option value="Seller" selected>Admin</option>
                                                                 <option value="Admin">Seller</option>
                                                                 <option value="Other">Other</option>
                                                            </select>
                                                  </div>
                                                  <div class="col-lg-6">
                                                            <div class="mb-3">
                                                                 <label for="product-stock" class="form-label">Stock</label>
                                                                 <input type="number" id="product-stock" class="form-control" name="product_count" placeholder="Quantity" value="{{ category.product_count }}">
                                                            </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                       
                                                            <div class="mb-3">
                                                                 <label for="product-id" class="form-label">Short Form</label>
                                                                 <input type="text" id="product-id" class="form-control" placeholder="#******" value="{{ category.shortform|upper }}-0{{ category.id }}315">
                                                            </div>
                                                  </div>
                                                  <div class="col-lg-12">
                                                       <div class="mb-0">
                                                            <label for="description" class="form-label">Description</label>
                                                            <textarea class="form-control bg-light-subtle" id="description" rows="5" name="description" placeholder="Type description">{{ category.description }}</textarea>
                                                       </div>
                                                  </div>
                                             </div>
                                        
                                        </div>
                                   </div>



                                   <div class="card">
                                        <div class="card-header">
                                             <h4 class="card-title">Meta Options</h4>
                                        </div>
                                        <div class="card-body">
                                             <div class="row">
                                                  <div class="col-lg-6">
                                                       
                                                            <div class="mb-3">
                                                                 <label for="meta-title" class="form-label">Meta Title</label>
                                                                 <input type="text" id="meta-tag" class="form-control" placeholder="Enter word" value="{{ category.name|capfirst }}">
                                                            </div>
                                                       
                                                  </div>
                                                  <div class="col-lg-6">
                                                       
                                                            <div class="mb-3">
                                                                 <label for="meta-tag" class="form-label">Meta Tag Keyword</label>
                                                                 <input type="text" id="meta-title" class="form-control" name="shortform" placeholder="Enter Title" value="{{ category.shortform }}">
                                                            </div>
                                                       
                                                  </div>
                                                  <div class="col-lg-12">
                                                       <div class="mb-0">
                                                            <label for="description" class="form-label">Description</label>
                                                            <textarea class="form-control bg-light-subtle" id="description" rows="4" placeholder="Type description">{{ category.description }}</textarea>
                                                       </div>
                                                  </div>
                                             </div>
                                        
                                        </div>
                                   </div>



                                   <div class="p-3 bg-light mb-3 rounded">
                                        <div class="row justify-content-end g-2">
                                             <div class="col-lg-2">
                                                  <button type="submit" class="btn btn-outline-secondary w-100">Save Change</button>
                                             </div>
                                             <div class="col-lg-2">
                                                  <a href="{% url 'category-list' %}" class="btn btn-primary w-100">Cancel</a>
                                             </div>
                                        </div>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>

{% endblock maincontainer %} 
