{% extends 'custadmin/components/base.html' %}
{% load static %}


{% block maincontainer %}
 
                    <div class="container-xxl">

                         <div class="row">
                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Payment Refund</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">490</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:chat-round-money-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Order Cancel</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">241</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:cart-cross-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Order Shipped</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">630</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:box-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Order Delivering</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">170</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:tram-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Pending Review</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">210</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:clipboard-remove-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Pending Payment</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">608</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:clock-circle-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">Delivered</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">200</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:clipboard-check-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-6 col-xl-3">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center justify-content-between">
                                                  <div>
                                                       <h4 class="card-title mb-2">In Progress</h4>
                                                       <p class="text-muted fw-medium fs-22 mb-0">656</p>
                                                  </div>
                                                  <div>
                                                       <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                                            <iconify-icon icon="solar:inbox-line-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-xl-12">
                                   <div class="card">
                                        <div class="d-flex card-header justify-content-between align-items-center">
                                             <div>
                                                  <h4 class="card-title">All Order List</h4>
                                             </div>
                                             <div class="dropdown">
                                                  <a href="#" class="dropdown-toggle btn btn-sm btn-outline-light rounded" data-bs-toggle="dropdown" aria-expanded="false">
                                                       This Month
                                                  </a>
                                                  <div class="dropdown-menu dropdown-menu-end">
                                                       <!-- item-->
                                                       <a href="#!" class="dropdown-item">Download</a>
                                                       <!-- item-->
                                                       <a href="#!" class="dropdown-item">Export</a>
                                                       <!-- item-->
                                                       <a href="#!" class="dropdown-item">Import</a>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="card-body p-0">
                                             <div class="table-responsive">
                                                  <table class="table align-middle mb-0 table-hover table-centered">
                                                       <thead class="bg-light-subtle">
                                                            <tr>
                                                                 <th>Order ID</th>
                                                                 <th>Created at</th>
                                                                 <th>Customer</th>
                                                                 <th>Priority</th>
                                                                 <th>Total</th>
                                                                 <th>Payment Status</th>
                                                                 <th>Items</th>
                                                                 <th>Delivery Number</th>
                                                                 <th>Order Status</th>
                                                                 <th>Action</th>
                                                            </tr>
                                                       </thead>
                                                       <tbody>

                                                            <tr>
                                                                 <td>#578246/Test</td>
                                                                 <td>Apr 19 , 2024</td>
                                                                 <td>
                                                                      <a href="#!" class="link-primary fw-medium">David A. Arnold</a>
                                                                 </td>
                                                                 <td> High</td>
                                                                 <td> ₹1,478.00</td>
                                                                 <td> <span class="badge  bg-success text-light px-2 py-1 fs-13">Paid</span></td>
                                                                 <td> 5</td>
                                                                 <td> #D-57837678</td>
                                                                 <td> <span class="badge border border-success text-success  px-2 py-1 fs-13">Completed</span></td>
                                                                 <td>
                                                                      <div class="d-flex gap-2">
                                                                           <a href="#!" class="btn btn-light btn-sm"><iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                           <a href="#!" class="btn btn-soft-primary btn-sm"><iconify-icon icon="solar:pen-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                           <a href="#!" class="btn btn-soft-danger btn-sm"><iconify-icon icon="solar:trash-bin-minimalistic-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                      </div>
                                                                 </td>
                                                            </tr>

                                                            <tr>
                                                                 <td>#348930/Test</td>
                                                                 <td>Apr 04 , 2024</td>
                                                                 <td>
                                                                      <a href="#!" class="link-primary fw-medium">Cecile D. Gordon</a>
                                                                 </td>
                                                                 <td> Normal</td>
                                                                 <td> ₹720.00</td>
                                                                 <td> <span class="badge bg-light text-dark  px-2 py-1 fs-13">Refund</span></td>
                                                                 <td> 4</td>
                                                                 <td> -</td>
                                                                 <td> <span class="badge border border-danger text-danger  px-2 py-1 fs-13">Canceled</span></td>
                                                                 <td>
                                                                      <div class="d-flex gap-2">
                                                                           <a href="#!" class="btn btn-light btn-sm"><iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                           <a href="#!" class="btn btn-soft-primary btn-sm"><iconify-icon icon="solar:pen-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                           <a href="#!" class="btn btn-soft-danger btn-sm"><iconify-icon icon="solar:trash-bin-minimalistic-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                      </div>
                                                                 </td>
                                                            </tr>
                                                            
                                                       {% comment %} {% for order in orders %}
                                                                 
                                                            <tr>
                                                                 <td>#{{order.orderId}}</td>
                                                                 <td>{{order.order_date|date:"F d, Y"}}</td>
                                                                 <td>
                                                                      <a href="#!" class="link-primary fw-medium">{{order.user.first_name}} {{order.user.last_name}}</a>
                                                                 </td>
                                                                 <td> Normal</td>
                                                                 <td> ₹{{order.total_price}}</td>
                                                                 
                                                                 {% if order.status == "Paid" %}
                                                                      <td> <span class="badge bg-success text-light  px-2 py-1 fs-13">Paid</span></td>
                                                                 {% elif order.status == "Pending" %}
                                                                      <td> <span class="badge bg-light text-dark  px-2 py-1 fs-13">Unpaid</span></td>
                                                                 {% else %}
                                                                      <td> <span class="badge bg-light text-dark  px-2 py-1 fs-13">Refund</span></td>
                                                                 {% endif %}
                                                                 <td> {{order.total_quantity}} </td>
                                                                 
                                                                 {% if order.payment_id %}
                                                                      <td> #D-{{order.payment_id|slice:"4:"}} </td>
                                                                 {% else %}
                                                                      <td> - </td>
                                                                 {% endif %}

                                                                 
                                                                 {% if order.status == "Paid" %}
                                                                      <td> <span class="badge border border-warning text-warning  px-2 py-1 fs-13">Packaging</span></td>
                                                                 {% elif order.status == "Pending" %}
                                                                      <td> <span class="badge border border-secondary text-secondary  px-2 py-1 fs-13">Draft</span></td>
                                                                 {% else %}
                                                                      <td> <span class="badge border border-danger text-danger  px-2 py-1 fs-13">Canceled</span></td>
                                                                 {% endif %}
                                                                 
                                                                 <td>
                                                                      <div class="d-flex gap-2">
                                                                           <a href="#!" class="btn btn-light btn-sm"><iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                           <a href="#!" class="btn btn-soft-primary btn-sm"><iconify-icon icon="solar:pen-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                           <a href="#!" class="btn btn-soft-danger btn-sm"><iconify-icon icon="solar:trash-bin-minimalistic-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                      </div>
                                                                 </td>
                                                            </tr>
                                                                 
                                                       {% endfor %} {% endcomment %}
                                                       {% for order in page_obj %}
                                                            <tr>
                                                                 <td>#{{ order.orderId }}</td>
                                                                 <td>{{ order.order_date|date:"F d, Y" }}</td>
                                                                 <td>
                                                                      <a href="#!" class="link-primary fw-medium">{{ order.user.first_name }} {{ order.user.last_name }}</a>
                                                                 </td>
                                                                 <td>Normal</td>
                                                                 <td>₹{{ order.total_price }}</td>
                                                                 {% if order.status == "Paid" %}
                                                                      <td><span class="badge bg-success text-light px-2 py-1 fs-13">Paid</span></td>
                                                                 {% elif order.status == "Pending" %}
                                                                      <td><span class="badge bg-light text-dark px-2 py-1 fs-13">Unpaid</span></td>
                                                                 {% else %}
                                                                      <td><span class="badge bg-light text-dark px-2 py-1 fs-13">Refund</span></td>
                                                                 {% endif %}
                                                                 <td>{{ order.total_quantity }}</td>
                                                                 {% if order.payment_id %}
                                                                      <td>#D-{{ order.payment_id|slice:"4:" }}</td>
                                                                 {% else %}
                                                                      <td>-</td>
                                                                 {% endif %}
                                                                 {% if order.status == "Paid" %}
                                                                      <td><span class="badge border border-warning text-warning px-2 py-1 fs-13">Packaging</span></td>
                                                                 {% elif order.status == "Pending" %}
                                                                      <td><span class="badge border border-secondary text-secondary px-2 py-1 fs-13">Draft</span></td>
                                                                 {% else %}
                                                                      <td><span class="badge border border-danger text-danger px-2 py-1 fs-13">Canceled</span></td>
                                                                 {% endif %}
                                                                 <td>
                                                                      <div class="d-flex gap-2">
                                                                           
                                                                           {% if order.payment_id %}
                                                                                <a href=" {% url 'order-detail' order.orderId %} " class="btn btn-light btn-sm"><iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                                {% else %}
                                                                                <a href=" {% url 'order-detail' order.orderId %} " style="visibility: hidden;" class="btn btn-light btn-sm"><iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon></a>                                                                                
                                                                           {% endif %}                                                                                
                                                                           <a href="#!" class="btn btn-soft-primary btn-sm"><iconify-icon icon="solar:pen-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                           <a href="#!" class="btn btn-soft-danger btn-sm"><iconify-icon icon="solar:trash-bin-minimalistic-2-broken" class="align-middle fs-18"></iconify-icon></a>
                                                                      </div>
                                                                 </td>
                                                            </tr>
                                                       {% endfor %}



                                                       </tbody>
                                                  </table>
                                             </div>
                                             <!-- end table-responsive -->
                                        </div>

                                        <div class="card-footer border-top">
                                             <div class="row g-3">
                                                  <div class="col-sm">
                                                       <div class="text-muted">
                                                            Showing
                                                            <span class="fw-semibold">{{ start_index }} - {{ end_index }}</span>
                                                            of
                                                            <span class="fw-semibold">{{ paginator.count }}</span>
                                                            orders
                                                       </div>
                                                  </div>

                                                  <div class="col-sm-auto">
                                                       <ul class="pagination justify-content-end mb-0">
                                                            {% if page_obj.has_previous %}
                                                                 <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                                            {% else %}
                                                                 <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                                            {% endif %}

                                                            {% for page_num in page_obj.paginator.page_range %}
                                                                 {% if page_num == page_obj.number %}
                                                                      <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                                                                 {% else %}
                                                                      <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                                                                 {% endif %}
                                                            {% endfor %}

                                                            {% if page_obj.has_next %}
                                                                 <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                                            {% else %}
                                                                 <li class="page-item disabled"><span class="page-link">Next</span></li>
                                                            {% endif %}
                                                       </ul>
                                                  </div>
                                             </div>
                                        </div>




                                   </div>
                              </div>

                         </div>

                    </div>

{% endblock maincontainer %}
